<div class="container">
    <h3 class="text-center mt-4 text-danger">Forget Password</h3>
    <hr>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 trans-div-light mt-3 p-4">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPhone">Contact</label>
            <input type="text" class="form-control" id="exampleInputPhone" placeholder="Contact">
          </div>
          <div class="text-center">
            <button routerLink="/login" class="btn grad-btn-secondary text-center">Back</button> &nbsp;
            <button type="submit" class="btn grad-btn-alert text-center">Verify User</button>
            <hr>
          </div>
        </form>
      </div>
      <div class="col-3"></div>
    </div>
  </div>